<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>{{ category.name }}</h1>
    </header>
    <section class="category-detail">
        <p>{{ category.description }}</p>
        <a href="{% url 'category_list' %}" class="btn">Wróć do listy kategorii</a>
    </section>
</body>
</html>