<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Kategorii</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Kategorie</h1>
    </header>
    <section class="category-list">
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a></li>
            {% empty %}
                <li>Brak kategorii</li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>
