<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Wydarzeń</title>
</head>
<body>
    <h1>Lista Wydarzeń</h1>
    <ul>
        {% for event in events %}
            <li><a href="{% url 'event_detail' event.pk %}">{{ event.name }}</a></li>
        {% empty %}
            <li>Brak wydarzeń</li>
        {% endfor %}
    </ul>
    <a href="{% url 'event_create' %}">Dodaj nowe wydarzenie</a>
</body>
</html>
