<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Lokalizacji</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Lista Lokalizacji</h1>
    </header>
    <section class="location-list">
        <ul>
            {% for location in locations %}
                <li><a href="{% url 'location_detail' location.pk %}">{{ location.city }}, {{ location.address }}</a></li>
            {% empty %}
                <li>Brak lokalizacji</li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>