<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Biletów</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Bilety</h1>
    </header>
    <section class="ticket-list">
        <ul>
            {% for ticket in tickets %}
                <li><a href="{% url 'ticket_detail' ticket.pk %}">{{ ticket.ticket_type }} - {{ ticket.price }} PLN - Dostępne: {{ ticket.available_quantity }}</a></li>
            {% empty %}
                <li>Brak biletów</li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>