/* Globalne style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Nagłówek */
header {
    text-align: center;
    background-color: #d291bc; /* Jasny różowy/fioletowy kolor */
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

/* Linki */
a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    color: #fff;
    background-color: #0056b3;
}

/* Sekcje wydarzeń */
.event-list, .event-detail {
    margin: 20px;
}

.event-list ul {
    list-style-type: none;
    padding: 0;
}

.event-list li {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
}

.event-list li:hover {
    transform: translateY(-5px);
}

/* Stylizacja dla szczegółów wydarzenia */
.event-detail {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.event-actions {
    margin-top: 20px;
}

/* Linki akcji wydarzeń */
.event-actions a {
    margin-right: 10px;
}

/* Przyciski */
.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #d291bc; /* Jasny różowy/fioletowy kolor */
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b565a7; /* Ciemniejszy odcień różowego/fioletowego */
}

/* Stylizacja stopki */
footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #d291bc; /* Jasny różowy/fioletowy kolor */
}

footer a:hover {
    color: #b565a7; /* Ciemniejszy odcień różowego/fioletowego */
}
